@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
ы    max-width: 928px;
    padding: 56px 148px 0;
    margin: 0 auto;
}

@media screen and (max-width: 1050px){
    .lead {
      padding: 48px 48px 0;
    }
  }
@media screen and (max-width: 800px) {
    .lead {
        padding: 48px 0 0;
    }
}

@media screen and (max-width: 720px) {
    .lead {
        padding: 48px 0 0;
    }
}