@import url(../intro/__list-item-paragraph/intro__list-item-paragraph.css);
@import url(../intro/__list-item/intro__list-item.css);
@import url(../intro/__list-item/_bold/intro__list-item_bold.css);
@import url(../intro/__list/intro__list.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__title/intro__title.css);
.intro {
    max-width: 690px;
    margin: 92px auto 0 0;
  }

  @media screen and (max-width: 800px) {
    .intro {
        margin: 88px auto 0 0;
        padding: 0 24px;
    }
}
    @media screen and (max-width: 720px) {
    .intro {
        margin: 64px auto 0 0;
        padding: 0 16px;
    }
}