@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  margin: 0 auto;
  padding: 92px 48px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1050px) {
    .cover {
      padding: 92px 0;
    }
}
  
  @media screen and (max-width: 800px) {
    .cover {
      padding: 88px 0;
    }
}
  @media screen and (max-width: 720px) {
    .cover {
      padding: 64px 0;
    }
}







  

