@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__website-link/place__website-link.css);
@import url(./__website-url-heading/place__website-url-heading.css);
@import url(./__website/place__website.css);

.place {
    display: grid;
    grid-gap: 48px 40px;
    grid-template-columns: 460px 1fr;
    margin-bottom: 80px;
    justify-content: center;
    grid-template-areas:
    "title link"
    "image paragraphs";
}

@media screen and (max-width: 1050px) {
    .place {
        grid-gap: 48px 32px;
        grid-template-columns: 440px 1fr;
    }
}
  
  @media screen and (max-width: 800px) {
    .place {
        margin-bottom: 72px;
        grid-gap: 48px 28px;
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width: 720px) {
    .place {
        margin-bottom: 48px;
        display: flex;
        flex-direction: column;
    }
}

.place:last-child {
    margin-bottom: 0;
}