.place__website-url-heading {
    margin: 0 0 12px 0;
    text-decoration: none;
    color: #aaaaaa;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.2em;
    display: grid;
    justify-self: start;
    text-transform: uppercase;
}